  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Все обсуждается, индивидуальный подход!</h2>
              <a href="#" class="btn btn-default btn-xl wow tada">Вернуться!</a>
          </div>
      </div>
  </aside>
