<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Предмет сотрудничества!</h2>
                <hr class="light">
                <p class="text-faded">Предлагаю разместить у меня на сайте информацию рекламного характера по лицензированию разного рода деятельности и помощи получения лицензий.</p>
                <p class="text-faded">Информация будет доступна по обращению на страницу сайта по адресам licenses.ru и лицензии.рф</p>
                <a href="#" class="btn btn-default btn-xl">Если интересно, пишите!</a>
            </div>
        </div>
    </div>
</section>
