<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Предлагаю сотрудничество по теме лицензирования и лицензий.</h1>
            <hr>

            <p>Готов размещать информацию на платной / бесплатной основе.</p>

            <p>Тратить свои средства и время.</p>

            <p>Свой бизнес, связанный с лицензиями пока не идет. Вынужден устроиться работать программистом по найму.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Подробнее</a>
        </div>
    </div>
</header>