<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Основные предлагаемые мной услуги</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Замена ПО на свободное</h3>
                    <p class="text-muted">Замена Windows серверов и рабочих станций на linux.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Предоставление клиентам легального ПО</h3>
                    <p class="text-muted">Во всем цивилизованном мире вообще-то покупают ПО!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Облака, белогривые лошадки</h3>
                    <p class="text-muted">Замена всех железок на облачные решения. Дорого, но зато можно обойтись без серверных.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Сотрудничество</h3>
                    <p class="text-muted">Интересуют поставщики легального ПО и заказчики!</p>
                </div>
            </div>
        </div>
    </div>
</section>
